body {
  background-image: url("assets/background.jpg");
  background-size: cover;
}

.eventsnb {
    color: #33b5e5 !important;
}

.description-bg {
    background-color: #616161;
}

.temperature {
    font-size: 30px;
}

.modal-title{
    color: grey !important;
}

@media (min-width: 320px) and (max-width: 767.98px) { 

h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.temperature {
    font-size: 25px;
}

}